<!-- Open Graph -->
<meta property="og:image" content="https://shaoyanliu.github.io/assets/img/avatar.jpg" />
<meta property="og:image:alt" content="Shaoyan Liu's avatar" />
<meta property="og:type" content="website" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="https://shaoyanliu.github.io/assets/img/avatar.jpg" />
<meta name="twitter:image:alt" content="Shaoyan Liu's avatar" />

<!-- Favicon -->
<link rel="icon" href="/assets/img/avatar.jpg" type="image/jpeg" />

